# Servidor API
PORT=3001
JWT_SECRET="reemplazar_con_tu_secreto_jwt"

# Conexiones de Base de Datos para Docker
# Estructura: postgresql://[usuario]:[password]@postgres:5432/[base_de_datos]?schema=public
DATABASE_URL="postgresql://usuario:password@postgres:5432/mi_base_de_datos?schema=public"
AUTH_DATABASE_URL="postgresql://usuario_auth:password_auth@postgres:5432/mi_base_de_datos?schema=public"

# Credenciales de Inicialización del Contenedor Postgres
POSTGRES_USER=usuario_admin_aqui
POSTGRES_PASSWORD=password_admin_aqui
POSTGRES_DB=mi_base_de_datos